* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#root {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	color: #fff;
	font-size: 21px;
	padding: 5px;
	background-color: green;
	border: 0;
	border-radius: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.number {
	text-align: center;
	margin-top: 15px;
	font-size: 30px;
}
